<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.xcolor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mustache.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-Mustache.js') }}"></script>
    {# <script src="{{ url_for('static', filename='js/semviz.js') }}"></script> #}
    <script src="{{ url_for('static', filename='js/compiled/semviz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test_semviz.js') }}"></script>

    <title>semviz {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
<body>
  <div id="content">
  	{% block content %}
  	{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>
</body>
