<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    {% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='brat/css/style-vis.css') }}">

    <script src="{{ url_for('static', filename='brat/lib/head.load.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/mustache.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-Mustache.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/compiled/semviz.js') }}" type="text/javascript"></script>

    <title>semviz {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
<body>
  <div id="content">
  	{% block content %}
  	{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>
  {% block extra_scripts %}
  {% endblock %}
</body>
