{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Semafor/TurboParser Demo</h1>

  <form method="GET" onSubmit="semViz.submitSentence(); return false;">
    Type an English sentence and press "Submit."
    </br>
    {{ form.sentence(rows=6, columns=200) }}
    </br>
    <input type="submit" value="Submit">
  </form>
  </br>
  <div id="spinner" style="display:none">
      <img src="{{ url_for('static', filename='img/spinner.gif') }}">
  </div>
  </br>
  <div id="dependency_parse" style="display: none">
      <h3>Dependency Parse</h3>
      <div id="brat_parse"></div>
  </div>
  </br>
  <div id="frame_semantic_parse" style="display: none">
      <h3>Frame-semantic Parse</h3>
      <div id="parse_table"></div>
  </div>
{% endblock %}

{% block footer %}
</br>
<a href="http://www.ark.cs.cmu.edu/TurboParser/">TurboParser</a>
</br>
<a href="http://www.ark.cs.cmu.edu/SEMAFOR/">SEMAFOR</a>
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript">
    // Initialize brat
    var bratLocation = "{{ url_for('static', filename='brat') }}";

    head.js(
            // External libraries
            bratLocation + '/lib/jquery.svg.min.js',
            bratLocation + '/lib/jquery.svgdom.min.js',

            // brat helper modules
            bratLocation + '/js/configuration.js',
            bratLocation + '/js/util.js',
            bratLocation + '/lib/webfont.js',

            // brat modules
            bratLocation + '/js/dispatcher.js',
            bratLocation + '/js/url_monitor.js',
            bratLocation + '/js/visualizer.js'
    );
</script>
{% endblock %}
